
.banner {
  height: 100vh;
  width: 100%;
  background-color: #FFD6DD;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 64px;
  background-image: url('/images/banner_image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.banner-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 64px;
}

.banner-buttons {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.banner-logo {
  align-self: end;
  margin-right: 64px;
}

@media (max-width: 600px) {
  .banner {
    padding: 0 0 60px 0;
  }
}
