
.banner {
  height: 100vh;
  width: 100%;
  background-color: #FFD6DD;

}

.banner-content {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-image: url('/images/banner_image.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-hero {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  gap: 16px;
}

.banner-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
  font-size: 22px;
  font-weight: 700;
}

@media (min-width: 1300px) {
  .banner-hero {
    padding-right: 128px;
  }

  .banner-content {
    height: 90%;
  }
}

@media (max-width: 600px) {
  .banner-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .banner-hero {
    align-items: center;
  }
}
