
.banner {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.banner-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-image: url('/images/banner_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content h1 {
  text-shadow: 4px 5px 7px rgba(0, 0, 0, 0.25);
}

.banner-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 50%;
  padding-left: 128px;
}

.banner-left span {
  text-align: end;
}

.banner-right {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 50%;
  margin-bottom: -26px;
}

.banner-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
  font-size: 22px;
  font-weight: 700;
}

@media (min-width: 1300px) {
  .banner-hero {
    padding-right: 128px;
  }

  .banner-content {
    height: 90%;
  }
}

@media (max-width: 600px) {
  .banner-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .banner-hero {
    align-items: center;
  }
}
