.concept {
  background-color: #FFECEC;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 64px;
  gap: 64px;
  background-image: url('/images/me_bg_logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .concept {
    padding-left: 240px;
  }
}

.concept-vertical-text-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  gap: 1rem;
  flex-wrap: nowrap;

}

.concept-vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #FFECEC;
  font-size: 22px;
  font-weight: 600;
  background-color: #0CC;
  border-radius: 8px;
  padding: 16px 8px;
}

.concept-horizontal-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 500px;
}

.concept p {
  margin-top: 64px;
}
