.concept {
  background-color: #FFECEC;
  height: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 64px;
}

.concept-vertical-text-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  gap: 1rem;

}

.concept-vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #FFECEC;
  font-size: 22px;
  font-weight: 600;
  background-color: #0CC;
  border-radius: 8px;
  padding: 16px 8px;
}
