.footer {
  background-color: #FFD6DD;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 64px;
}

.footer-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
  font-size: 22px;
  font-weight: 700;
}
