
.member-banner {
  width: 100%;
  height: auto;
  display: flex;
  position: relative
}

.members-home-button {
  position: fixed;
  top: 0;
  margin: 16px;
}

.member-banner-left {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FF5757;
  padding: 8px;
  margin: 0px;
  white-space: nowrap;
  border: 0;
}

.member-banner-left ul {
  border: solid white 1px;
  width: 80%;
  margin: 16px;
}

.member-banner-center {
  background-color: #FAEB98;
  border-radius: 49% 51% 41% 59% / 63% 51% 49% 37%;
  padding: 64px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-text-stroke: 8px white;
  paint-order: stroke fill;
  font-weight: 900;
}

.member-banner-h3{
  color: white;
  font-weight: 700;
  font-size: 30px;
  border: 0;
  text-align: right;
}

.member-banner-center h3 {
  color: #FF5757;
  font-size: 32px;
  margin: 0;
  padding: 0;
  border: 0;
}

.member-banner-center h2 {
  color: #5F5F5F;
  font-size: 40px;
  font-weight: 900px;
  border: 0;
  margin: 0;
  padding: 0;
}

.member-banner-center-red-text {
  color: #FF5757;
  transform: rotate(-12deg);
  display: inline-block;
  font-size: 100px;
}

.member-banner h1 {
  border: 0;
  font-size: 80px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.member-banner-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/images/happy_lady.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 128px;
  gap: 32px;
}

.member-banner-right-text {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
}

.banner-logo {
  display: flex;
  align-items: end;
  justify-content: end;
  align-self: end;

}

@media (max-width: 1000px) and (min-width: 850px) {
  .member-banner-right {
    padding: 32px;
  }
}

@media (max-width: 849px) {
  .member-banner {
    flex-direction: column-reverse;
    height: auto;
  }

  .member-banner-left {
    min-width: 400px;
  }

  .member-banner-right {
    padding: 128px 32px 32px 32px;
  }

  .member-banner h1 {
    font-size: 64px;
  }

  .banner-logo {
    max-width: 50%;
  }
}
