.members-lessons-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 64px;
}

.members-new-lessons-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.members-new-lessons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
  }

.members-new-lesson-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 26px;
}

.members-new-lesson-image {
  margin-bottom: 8px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
  opacity: 75%;
  transition: 0.5s ease;
}

.members-new-lesson-image:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.05);
}

@media (max-width: 700px) {
  .members-lessons-container {
    padding: 32px;
  }

  .members-new-lessons-container {
    width: 100%;
  }
}
