.members-workshops-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 64px;
}

.members-new-workshops-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.members-new-workshops {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  gap: 32px;
  }


.members-new-workshop-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 32px;
}

.members-new-workshop-card .card-text {
  width: 280px;
}

.members-new-workshop-card .card-title {
  font-weight: bolder;
  color: #FF5757;
}

.members-new-workshop-card .card-password {
  font-size: 14px;
}

.members-new-workshop-image {
  margin-bottom: 8px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
  opacity: 75%;
  transition: 0.5s ease;
}

.members-new-workshop-image:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.05);
}

@media (max-width: 700px) {
  .members-workshops-container {
    padding: 32px;
  }

  .members-new-workshops-container {
    width: 100%;
  }
}
